# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.Python
.venv/
venv/
env/
.ipynb_checkpoints/

# Notebooks - permitir entrega pero ignorar checkpoints
**/.ipynb_checkpoints/

# Outputs grandes
output/*
!output/.gitkeep
!output/dataset_unificado.parquet

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
*.env

# MLflow
mlruns/
mlartifacts/

# Logs
*.log
